# Dependencies
node_modules/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# SQLite (optional: remove if you want to commit dev DB)
apps/api/prisma/*.db

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Logs / cache
*.log
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*

# Test
coverage/
.nyc_output/
